.gallery {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    object-fit: scale-down;
    gap: 1px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
