h1 {
    color: SeaGreen;
  }

.container {
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    
}

.cell {
    /*color: white; - https://www.developerdrive.com/2018/02/how-to-create-a-css-grid-step-by-step/*/
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
}