h1 {
    color: SeaGreen;
  }

.container {
    height: 90vh;
    
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);

    
}

.cell {
    max-width: 100%;
    object-fit: cover;
    align-content: center;
}
/*
.cell {
    color: white; - https://www.developerdrive.com/2018/02/how-to-create-a-css-grid-step-by-step
    max-width:100%
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
    border-style: solid;
}*/